@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #3b82f6;
  --color-accent: #f59e0b;
  --color-white: #ffffff;
}
.card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
