@import "tailwindcss";

/* @theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #3b82f6;
  --color-accent: #f59e0b;
  --color-white: #ffffff;
} */

/* @theme {
  --color-background: #172554; 
  --color-surface: #1e3a8a; 
  --color-primary: #2563eb; 
  --color-accent: #f97316; 
  --color-white: #f8fafc; 
} */
@theme {
  --color-background: #0d0d0d;
  --color-orange-primary: #ff6a00;
  --color-surface: #141414;
  --color-divider: #2a2a2a;
  --color-white: #ffffff;
  --color-light-gray: #f3f3f3;
  --color-primary-gray: #a0a0a0;
  --color-dark-gray: #6b6b6b;
  --color-text-secondary: #b3b3b3;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-warning: #fbbf24;
  --color-info: #3b82f6;
}

.mainHeading {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold mx-auto text-center  mb-8;
}
.submitBtn {
  @apply w-full bg-orange-primary rounded-xl text-white text-center outline-none border-none py-2 cursor-pointer font-bold text-lg disabled:opacity-70 disabled:pointer-events-auto flex items-center justify-center;
}
.card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pageTitle {
  font-size: clamp(2rem, 4vw, 4rem);
  color: var(--color-orange-primary);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.msg {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--color-error);
  font-weight: bold;
  text-align: center;
}
